@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --first-color: #004A99;
  --hue-color: 224;
  --second-color: hsl(var(--hue-color), 56%, 12%);

  /* Add custom font family */
  --font-signika: 'Signika Negative', sans-serif;
}

html {
  @apply scroll-smooth;
  font-family: var(--font-signika);
}

/* Grid-Layout
--------------------------------*/
.bd-grid {
  @apply grid w-full max-w-7xl px-4 md:px-12 mx-auto;
}

/* Glass-Background
--------------------------------*/
.bg-glass {
  @apply relative p-8 bg-white/55 rounded-2xl backdrop-blur-md border-2 border-white/50;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}


/* Card-Animated
--------------------------------*/
.card-animated {
  @apply relative cursor-pointer;
}

.card-animated::before {
  content: "";
  @apply absolute inset-0 opacity-0 transition-opacity duration-500 z-20;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255,255,255,0.2),
    transparent 40%
  );
}

.card-animated:hover::before {
  @apply opacity-100;
}

/* Home-Title
--------------------------------*/
.home {
  @apply py-8 md:py-16;
}

.overflow-text {
  @apply whitespace-normal;
}

.home-data {
  @apply self-center;
}

.home-title {
  @apply text-[2rem] md:text-[3rem] font-bold;
}

.home-title-color {
  @apply text-(--first-color);
}

/* Home-Social-Icons
--------------------------------*/
.home-social {
  @apply flex flex-row;
}

.home-social-icon {
  @apply w-max mr-8 mt-6 text-[40px] text-(--second-color) hover:text-(--first-color);
}

/* Section
--------------------------------*/
.section {
  @apply pt-12 pb-8;
}

.section-title {
  @apply relative text-center text-(--first-color) text-2xl mb-2 mt-8 font-semibold;
}

.section-subtitle {
  @apply mb-2 text-2xl font-semibold;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

/* Skills-Data
--------------------------------*/
.skills-container {
  @apply grid grid-cols-1 md:grid-cols-2 gap-x-8 items-start text-left;
}

.skills-subtitle {
  @apply mb-2 font-semibold;
}

.skills-data {
  @apply p-2 rounded-md flex justify-between items-center relative font-semibold mb-8 shadow-md bg-linear-to-r from-[#004A99] via-[#006AB0] to-[#009EC5] text-white;
}

.skill-icons {
  @apply text-4xl mr-8 text-white;
}

.skills-data:hover {
  @apply p-3;
}

.skills-bar {
  @apply absolute left-0 bottom-0 h-1.5 transition-colors duration-300 bg-white rounded-tr-md rounded-bl-md;
}

/* About
--------------------------------*/
.about-container {
  @apply grid grid-cols-1 md:grid-cols-2 items-center text-left;
}

.about-subtitle {
  @apply mb-8;
}

.about-img {
  @apply justify-self-center;
}

.about-img img {
  @apply w-[300px] rounded-md;
}

/* Work
--------------------------------*/
.work-container {
  @apply grid grid-cols-2 gap-x-8;
}

/* Footer
--------------------------------*/
.footer {
  @apply text-center text-white font-semibold py-4;
  background-color: var(--second-color);
}

/* Headline
--------------------------------*/
.cd-headline {
  @apply hidden mb-8 md:block;
}

.cd-headline-small {
  @apply block mb-8 md:hidden;
}

/* Shapes-Container
--------------------------------*/
.shapes-container {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  z-index: 0;
}
.shapes-container .shape {
	position: absolute;
}
.shapes-container .shape::before {
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #004A99;
	transform: rotate(-35deg);
	position: absolute;
	border-radius: 50px;
}
.shapes-container .shape:nth-child(1) {
	top: 2%;
	left: 10%;
	width: 400px;
	height: 70px;
}
.shapes-container .shape:nth-child(2) {
	top: 14%;
	left: 7%;
	width: 200px;
	height: 5px;
}
.shapes-container .shape:nth-child(3) {
	top: 80%;
	left: 1%;
	width: 300px;
	height: 60px;
}
.shapes-container .shape:nth-child(4) {
	top: 50%;
	left: 10%;
	width: 400px;
	height: 5px;
}
.shapes-container .shape:nth-child(5) {
	top: 5%;
	left: 50%;
	width: 300px;
	height: 25px;
}
.shapes-container .shape:nth-child(6) {
	top: 4%;
	left: 52%;
	width: 200px;
	height: 5px;
}
.shapes-container .shape:nth-child(7) {
	top: 80%;
	left: 70%;
	width: 200px;
	height: 5px;
}
.shapes-container .shape:nth-child(8) {
	top: 55%;
	left: 95%;
	width: 200px;
	height: 5px;
}
.shapes-container .shape:nth-child(9) {
	top: 50%;
	left: 90%;
	width: 300px;
	height: 50px;
}
.shapes-container .shape:nth-child(10) {
	top: 30%;
	left: 60%;
	width: 500px;
	height: 55px;
}
.shapes-container .shape:nth-child(11) {
	top: 60%;
	left: 60%;
	width: 200px;
	height: 5px;
}
.shapes-container .shape:nth-child(12) {
	top: 35%;
	left: 75%;
	width: 200px;
	height: 5px;
}
.shapes-container .shape:nth-child(13) {
	top: 80%;
	left: 30%;
	width: 300px;
	height: 10px;
}
.shapes-container .shape:nth-child(14) {
	top: 54%;
	left: 75%;
	width: 200px;
	height: 5px;
}
.shapes-container .shape:nth-child(15) {
	top: 50%;
	left: 90%;
	width: 200px;
	height: 5px;
}
.shapes-container .shape:nth-child(16) {
	top: 50%;
	left: 81%;
	width: 100px;
	height: 5px;
}

/* Navigation
--------------------------------*/
.nav-link { position: relative; }
.nav-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: #004A99;
    transition: width 0.3s ease;
}
.nav-link:hover::after { width: 100%; }
