@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --first-color: #004A99;
  --hue-color: 224;
  --second-color: hsl(var(--hue-color), 56%, 12%);

  --font-signika: 'Signika Negative', sans-serif;
}

html {
  @apply scroll-smooth;
  font-family: var(--font-signika);
}

/* Grid-Layout
--------------------------------*/
.bd-grid {
  @apply grid w-full md:max-w-7xl px-4 md:px-12 mx-auto;
}

.center-grid {
  @apply pt-10 md:pt-20 min-h-screen items-start;
}

/* Glass-Background
--------------------------------*/
.bg-glass {
  @apply relative p-6 md:p-8 bg-white/55 rounded-2xl backdrop-blur-md border-2 border-white/50;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}
.title-glass {
  @apply relative bg-white/55 rounded-2xl backdrop-blur-md border-2 border-white/50;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}

/* Card-Animated
--------------------------------*/
.card-animated {
  @apply relative cursor-pointer;
}

.card-animated::before {
  content: "";
  @apply absolute inset-0 opacity-0 transition-opacity duration-500 z-20;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255,255,255,0.2),
    transparent 40%
  );
}

.card-animated:hover::before {
  @apply opacity-100;
}

/* Home-Title
--------------------------------*/
.home {
  @apply py-8 md:py-16;
}

.home-data {
  @apply self-center;
}

.home-title {
  @apply text-[2rem] md:text-[3rem] font-bold;
}

.home-title-color {
  @apply text-(--first-color);
}

.home-social {
  @apply flex flex-row;
}

.home-social-icon {
  @apply w-max mr-4 md:mr-6 text-[40px] text-(--second-color) hover:text-(--first-color);
}

/* Section
--------------------------------*/
.section-content {
  @apply grid grid-cols-1 md:grid-cols-2 items-center text-left gap-4;
}

.section-content-md {
  @apply grid grid-cols-1 md:grid-cols-3 items-start text-left gap-4 overflow-x-hidden;
}

.section-content-lg {
  @apply grid grid-cols-1 md:grid-cols-4 items-start text-left gap-4 overflow-x-hidden;
}

.section-title {
  @apply relative text-center text-2xl mb-2 mt-2 font-semibold;
  color: var(--text-color, --first-color);
}

.section-subtitle {
  @apply mb-2 text-2xl font-semibold;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--underline-color, --first-color);
}

/* Skills-Data
--------------------------------*/
.skills-subtitle {
  @apply mb-4 text-2xl font-semibold text-center;
}

.skills-data {
  /* @apply p-2 rounded-md flex justify-between items-center relative font-semibold mb-6 shadow-md bg-linear-to-r from-[#004A99] via-[#006AB0] to-[#009EC5] text-white; */
  @apply p-2 rounded-md flex justify-between items-center relative font-semibold mb-6 shadow-md text-white;
}

.skill-icons {
  @apply text-4xl mr-8 text-white;
}

.skills-bar {
  @apply absolute left-0 bottom-0 h-1.5 transition-colors duration-300 bg-white rounded-tr-md rounded-bl-md;
}

/* Work
--------------------------------*/
.work-content {
  @apply grid grid-cols-2 gap-x-8;
}

/* Footer
--------------------------------*/
.footer {
  @apply text-center text-white font-semibold py-4;
  background-color: var(--second-color);
}

/* Navigation
--------------------------------*/
.nav-link { position: relative; }
.nav-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: #004A99;
    transition: width 0.3s ease;
}
.nav-link:hover::after { width: 100%; }

.active-link {
  @apply text-[#004A99]; /* Active color */
}
.active-link::after { width: 100%; }

/* Shapes-Container
--------------------------------*/
@layer components {
  .shape {
    @apply absolute rounded-[50px] rotate-[-35deg] overflow-hidden;
    background-color: var(--shape-color, var(--first-color));
  }

  .shape-1  { @apply top-[2%]   left-[10%]  w-[400px] h-[70px]; }
  .shape-2  { @apply top-[14%]  left-[7%]   w-[200px] h-[5px]; }
  .shape-3  { @apply top-[80%]  left-[1%]   w-[300px] h-[60px]; }
  .shape-4  { @apply top-[50%]  left-[10%]  w-[400px] h-[5px]; }
  .shape-5  { @apply top-[5%]   left-[50%]  w-[300px] h-[25px]; }
  .shape-6  { @apply top-[4%]   left-[52%]  w-[200px] h-[5px]; }
  .shape-7  { @apply top-[80%]  left-[70%]  w-[200px] h-[5px]; }
  .shape-8  { @apply top-[55%]  left-[95%]  w-[200px] h-[5px]; }
  .shape-9  { @apply top-[50%]  left-[90%]  w-[300px] h-[50px]; }
  .shape-10 { @apply top-[30%]  left-[60%]  w-[500px] h-[55px]; }
  .shape-11 { @apply top-[60%]  left-[60%]  w-[200px] h-[5px]; }
  .shape-12 { @apply top-[35%]  left-[75%]  w-[200px] h-[5px]; }
  .shape-13 { @apply top-[80%]  left-[30%]  w-[300px] h-[15px]; }
  .shape-14 { @apply top-[54%]  left-[75%]  w-[200px] h-[5px]; }
  .shape-15 { @apply top-[50%]  left-[90%]  w-[200px] h-[5px]; }
  .shape-16 { @apply top-[50%]  left-[81%]  w-[100px] h-[5px]; }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 3px var(--stroke-color, var(--first-color));
    paint-order: stroke fill;
  }
}
